apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      automountServiceAccountToken: false
      initContainers:
        - name: wait-for-gateway
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "Waiting for API Gateway...";
              until nc -z api-gateway 8085; do sleep 3; done;
              echo "API Gateway is ready!";
      containers:
        - name: frontend
          image: frontend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 80
          env:
            - name: VITE_API_URL
              value: "http://api-gateway:8085/api"
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
              ephemeral-storage: "128Mi"
            limits:
              memory: "256Mi"
              ephemeral-storage: "256Mi"
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 10